# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore environment variables
.env

# Ignore .cache directory and .cache files
.cache/
*.cache

# Ignore system files
.DS_Store
Thumbs.db

