* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Bright', Georgia, serif;
    line-height: 1.6;
    background: rgb(38, 38, 38); /* Set background color to green */
}

.gradient2 {
    background-color: cyan; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, yellow);
}

header {
    color: black;
    padding: 10px 20px;
}

main {
    display: flex;
    margin: 20px;
}

/* Sidebar styles */
.sidebarL,
.sidebarR {
    flex: 1;
    padding: 20px;
    background: #ddd;
    border: 2px solid black;
}

/* Main content style */
.content {
    flex: 3;
    padding: 20px;
    background: rgb(120, 114, 103);
    border: 2px solid black;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}