* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    background: rgb(38, 38, 38); /* Set background color to green */
}

.gradient2 {
    background-color: black; /* For browsers that do not support gradients */
    color: white;
}

header {
    color: black;
    padding: 10px 20px;
}

main {
    display: flex;
    margin: 20px;
    min-height: 80vh; /* Push footer down */
}

/* Sidebar styles */
.sidebarL,
.sidebarR {
    flex: 1;
    padding: 20px;
    background: #ddd;
    margin: 0 5px; /* Add margin to move sidebars away from main content */
    border-radius: 10px;
}

/* Main content style */
.content {
    flex: 3;
    padding: 20px;
    background-image: linear-gradient(rgb(80, 79, 79), black); /* Set background image */
    background-size: cover;
    border: 2px solid black;
    color: white;
    margin-bottom: 50px;
}

.content h2, .content p {
    text-align: center;
}

.content p {
    text-align: center;
    margin-bottom: 25px;
}

/* Contact Form Styles */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #e91e63;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
}