* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    background: rgb(38, 38, 38); /* Set background color to green */
}

.highlight {
    background-color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

.gradient2 {
    background-color: black; /* For browsers that do not support gradients */
}

header {
    color: black;
    padding: 10px 20px;
}

main {
    display: flex;
    margin: 20px;
}

/* Sidebar styles */
.sidebarL,
.sidebarR {
    flex: 1;
    padding: 20px;
    background: #ddd;
    margin: 0 5px; /* Add margin to move sidebars away from main content */
    border-radius: 10px;
}

.optionButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.optionButton {
    padding: 10px 15px;
    font-size: 14px;
    background: rgb(153, 153, 153);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.optionButton:hover {
    background: rgb(95, 95, 95); /* Darker shade on hover */
}   

.optionButton.selected {
    background: black; 
    color: white;
}

.dropDownGenre {
    padding: 10px 10px;
    font-size: 18px;
    background: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.dropDownGenre:hover {
    background: #333;
}

.dropDownTimePeriod {
    padding: 10px 10px;
    font-size: 18px;
    background: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.dropDownTimePeriod:hover {
    background: #333;
}

.randomizeButton {
    padding: 10px 20px;
    font-size: 16px;
    background: #ff5733; /* Custom color */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.randomizeButton:hover {
    background: #cc4629; /* Darker shade on hover */
}

.gradient1 {
    background-color: white; /* For browsers that do not support gradients */
}

.contentBox {
    width: 80%; 
    height: 500px; 
    margin: 20px auto; /* Centers the box */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
    text-align: center;
    border-radius: 10px;
}

/* Main content style */
.content {
    flex: 3;
    padding: 20px;
    background-image: linear-gradient(rgb(80, 79, 79), black); /* Set background image */
    background-size: cover; /* Ensure the background image covers the entire area */
    color: black; /* Set text color to white */
    border-radius: 10px;
    
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}



