@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dangrek', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    background: #9b3a33;
    display: flex;
    flex-direction: column;
}

.highlight {
    background-color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

header {
    padding: 10px 20px;
    background-color: #2f1d1b;
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* Sidebar styles */
.sidebarL,
.sidebarR {
    flex: 1;
    padding: 20px;
    background: #9b3a33;
    margin: 0 5px; /* Add margin to move sidebars away from main content */
    border-radius: 10px;
}

.optionButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.optionButton {
    padding: 10px 15px;
    font-size: 14px;
    background: #5c3936;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: 'Dangrek', sans-serif;
    font-weight: bold;
}

.optionButton:hover {
    background: #492d2b; /* Darker shade on hover */
}   

.optionButton.selected {
    background: #362220; 
    color: white;
}

.dropDownGenre {
    padding: 10px 10px;
    font-size: 18px;
    background: #2f1d1b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: 'Dangrek', sans-serif;
    font-weight: bold;
}

.dropDownGenre:hover {
    background: #221514;
}

.dropDownTimePeriod {
    padding: 10px 10px;
    font-size: 18px;
    background: #2f1d1b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: 'Dangrek', sans-serif;
    font-weight: bold;
}

.dropDownTimePeriod:hover {
    background: #221514;
}

.randomizeButton {
    padding: 10px 20px;
    font-size: 16px;
    background: #f8a235; /* Custom color */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: 'Dangrek', sans-serif;
    font-weight: bold;
}

.randomizeButton:hover {
    background: #cc872c; /* Darker shade on hover */
}

.gradient1 {
    background-color: white; /* For browsers that do not support gradients */
}

.contentBox {
    width: 80%; 
    height: 500px; 
    margin: 20px auto; /* Centers the box */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: white; 
}

/* Main content style */
.content {
    flex: 3;
    padding: 20px;
    background: linear-gradient(to top, #9b3a33, #f1573b, #f8a235);
    color: #2f1d1b; /* Set text color to white */
    border-radius: 10px;
}

footer {
    background: #2f1d1b;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.randomizer-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.options-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  header .nav-menu {
    flex-direction: column;
    align-items: center; /* Center the links */
    margin-top: 10px; /* Add some spacing */
  }
  header .nav-menu a {
    display: block;
    margin: 5px 0; /* Add vertical spacing */
    font-size: 10px; /* Smaller font size for iPhone */
  }
  .sidebarL,
  .sidebarR {
    display: none; /* Hide sidebars on mobile */
  }
  .content {
    flex: 1;
    padding: 10px;
    margin: 0; /* Remove margin on mobile */
  }
  .optionButtons {
    flex-direction: column;
    gap: 5px;
  }
  .optionButton {
    width: 100%; /* Make buttons full width on mobile */
  }
  .dropDownGenre,
  .dropDownTimePeriod {
    width: 100%; /* Make dropdowns full width on mobile */
    margin-bottom: 10px; /* Add margin for spacing */
  }
  .randomizeButton {
    width: 100%; /* Make button full width on mobile */
  }
  .contentBox {
    width: 100%; /* Make content box full width on mobile */
    height: auto; /* Adjust height for mobile */
    margin: 10px 0; /* Adjust margin for mobile */
  }
  .randomizeButton:hover {
    background: #f8a235; /* Darker shade on hover */
  }
}

/* iPhone specific styles */
@media (max-width: 480px) {
  header div {
    flex-direction: column;
    align-items: flex-start;
  }
  header .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px; /* Add some spacing */
  }
  header .nav-menu a {
    display: inline-block;
    margin: 0 10px;
    font-size: 15px; /* Smaller font size for iPhone */
  }
  .randomizeButton:hover {
    background: #f8a235; /* Darker shade on hover */
  }
}