@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    background: #9b3a33;
}

.highlight {
    background-color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

header {
    padding: 10px 20px;
    background-color: #2f1d1b;
}

main {
    flex: 1;
    display: flex;
    margin: 20px;
}

/* Sidebar styles */
.sidebarL,
.sidebarR {
    flex: 1;
    padding: 20px;
    background: #9b3a33;
    margin: 0 5px; /* Add margin to move sidebars away from main content */
    border-radius: 10px;
}

.gradient1 {
    background-color: white; /* For browsers that do not support gradients */
}

/* Main content style */
.content {
    flex: 3;
    padding: 20px;
    background: linear-gradient(to top, #9b3a33, #f1573b, #f8a235);
    color: white; 
    border-radius: 10px;
    text-align: center;
}

.content h1 {
    margin-top: 40px;
    font-size: 2.5rem;
    animation: fadeIn 2s ease-in-out;
    color: black;
}

.content h2 {
    margin-top: 15px;
    font-size: 1.8rem;
    animation: fadeIn 4s ease-in-out;
    color: black;
}

.this-weeks-pick-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-height: 200px; /* Set a maximum height */
}

.Week1Pick-image {
    display: block;  
    margin: 20px auto;  
    max-width: 100%;  
    height: auto; 
    border-radius: 10px;  
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    animation: fadeIn 8s ease-in-out;
    height: 600px;
}

footer {
    background: #2f1d1b;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 32px;
}

.tagline {
    font-size: 18px;
    color: #f8a235;
    text-align: center;
}

.nav-menu {
    font-size: 25px;
}

.nav-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

/* Mobile styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    header .nav-menu {
        flex-direction: column;
        align-items: center; /* Center the links */
        margin-top: 10px; /* Add some spacing */
    }
    header .nav-menu a {
        display: block;
        margin: 5px 0; /* Add vertical spacing */
        font-size: 10px; /* Smaller font size for iPhone */
    }
    .sidebarL,
    .sidebarR {
        display: none; /* Hide sidebars on mobile */
    }
    .content {
        flex: 1;
        padding: 10px;
        margin: 0 auto; /* Center the content */
        width: 90%; /* Make the content thinner */
        font-size: 0.8rem; /* Smaller font size for content */
    }
    .content h1 {
        font-size: 1.5rem; /* Smaller font size for headings */
    }
    .content h2 {
        font-size: 1.2rem; /* Smaller font size for headings */
    }
    .content h3 {
        font-size: 1rem; /* Smaller font size for headings */
    }
    .this-weeks-pick-image,
    .Week1Pick-image {
        width: 90%; /* Make images slightly smaller */
        height: auto;
    }
    .tagline {
        font-size: 14px; /* Smaller size for mobile */
    }
}

/* iPhone specific styles */
@media (max-width: 480px) {
    header div {
        flex-direction: column;
        align-items: flex-start;
    }
    header .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 10px; /* Add some spacing */
    }
    header .nav-menu a {
        display: inline-block;
        margin: 0 10px;
        font-size: 12px; /* Smaller font size for iPhone */
    }
    .content {
        padding: 5px; /* Reduce padding for smaller screens */
        margin: 0 auto; /* Center the content */
        width: 95%; /* Make the content thinner */
        font-size: 0.7rem; /* Even smaller font size for content */
    }
    .content h1 {
        font-size: 1.2rem; /* Smaller font size for headings */
    }
    .content h2 {
        font-size: 1rem; /* Smaller font size for headings */
    }
    .content h3 {
        font-size: 0.8rem; /* Smaller font size for headings */
    }
    .this-weeks-pick-image,
    .Week1Pick-image {
        width: 80%; /* Make images even smaller */
        height: auto;
        max-height: 250px; /* Set a maximum height */
    }
}