@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dangrek', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    background: #9b3a33;
}

.highlight {
    background-color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

.gradient2 {
    background-color: #2f1d1b; /* For browsers that do not support gradients */
}

header {
    padding: 10px 20px;
}

main {
    display: flex;
    margin: 20px;
}

/* Sidebar styles */
.sidebarL,
.sidebarR {
    flex: 1;
    padding: 20px;
    background: white;
    margin: 0 5px; /* Add margin to move sidebars away from main content */
    border-radius: 10px;
}


.gradient1 {
    background-color: white; /* For browsers that do not support gradients */
}


/* Main content style */
.content {
    flex: 3;
    padding: 20px;
    background: linear-gradient(to top, #9b3a33, #f1573b, #f8a235);
    color: white; 
    border-radius: 10px;
    text-align: center;
}

.content h1{
  margin-top: 40px;
  font-size: 2.5rem;
  animation: fadeIn 2s ease-in-out;
}

.content h2{
  margin-top: 15x;
  font-size: 1.8rem;
  animation: fadeIn 4s ease-in-out;
}

.content h3{
  margin-top: 5px;
  font-size: 1.5rem;
  animation: fadeIn 6s ease-in-out;
}

.this-weeks-pick-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Week1Pick-image {
  display: block;  
  margin: 20px auto;  
  max-width: 100%;  
  height: auto; 
  border-radius: 10px;  
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
  animation: fadeIn 8s ease-in-out;
}

footer {
  background: #2f1d1b;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}


/* Mobile styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  header .nav-menu {
    flex-direction: column;
    align-items: center; /* Center the links */
    margin-top: 10px; /* Add some spacing */
  }
  header .nav-menu a {
    display: block;
    margin: 5px 0; /* Add vertical spacing */
    font-size: 10px; /* Smaller font size for iPhone */
  }
  .sidebarL,
  .sidebarR {
    display: none; /* Hide sidebars on mobile */
  }
  .content {
    flex: 1;
    padding: 10px;
    margin: 0; /* Remove margin on mobile */
  }
}

/* iPhone specific styles */
@media (max-width: 480px) {
  header div {
    flex-direction: column;
    align-items: flex-start;
  }
  header .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px; /* Add some spacing */
  }
  header .nav-menu a {
    display: inline-block;
    margin: 0 10px;
    font-size: 15px; /* Smaller font size for iPhone */
  }
}