<!-- about.html -->
{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='images/aboutUs.png') }}" alt="AboutUs" class="aboutUs-image" style="height: 40px;">
<p style="margin-top: 30px; color: white;">Welcome to Turntable! We are dedicated to helping you discover new music and expand your taste. Our platform connects users to a world of music data powered by Spotify, and we aim to create a community of music lovers.</p>

<section class="team-members">
    <img src="{{ url_for('static', filename='images/mtt.png') }}" alt="MeetTheTeam" class="mtt-image" style="height: 24px;">
    <div class="team">
        <div class="team-member">
            <img src="{{ url_for('static', filename='images/mckayImage.jpeg') }}" alt="McKayHunter" />
            <h4>McKay Hunter</h4>
            <p>Co-founder & Developer</p>
        </div>
        <div class="team-member">
            <img src="{{ url_for('static', filename='images/rasimImage.jpg') }}" alt="RasimCrnica" />
            <h4>Rasim Crnica</h4>
            <p>Co-founder & Developer</p>
        </div>
    </div>
</section>
{% endblock %}