<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="image" href="{{ url_for('static', filename='images/imageForTurntable') }}" type="image/imageForTurntable.jpeg">
</head>
<body>
    <header class="header">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <div style="margin-top: -30px;">
                <a href="/home">
                    <img src="{{ url_for('static', filename='images/turntableLetters.png') }}" alt="Turntable" style="height: 32px; border: none">
                </a>
                <img src="{{ url_for('static', filename='images/turntableIcon.png') }}" alt="Icon" class="icon">
                <div class="tagline">Listen Different. Explore new music.</div>
            </div>
            <div class="nav-menu" style="font-size: 25px;">
                <a title="Home page" href="#" onclick="location.href='/home'" style="text-decoration: none; color: white; margin-right: 20px;">Home</a>
                <a title="Our pick for album of the week" href="#" onclick="location.href='/our-pick'" style="text-decoration: none; color: white; margin-right: 20px;">Our Pick</a>
                <a title="About Turntable" href="#" onclick="location.href='/about'" style="text-decoration: underline; color: white; margin-right: 20px;">About</a>
                <a title="Get in touch with us" href="#" onclick="location.href='/contact'" style="text-decoration: none; color: white; margin-right: 20px;">Contact</a>
            </div>
        </div>
    </header>

    <main>
        <!-- Left Sidebar -->
        <aside class="sidebarL" style="border-radius: 10px;">
            <!-- <h3>Left Sidebar</h3> -->
            <!-- <p>This is space is for ads.</p> -->
        </aside>
    
        <!-- Main Content -->
        <section class="content">
            <img src="{{ url_for('static', filename='images/aboutUs.png') }}" alt="AboutUs" class="aboutUs-image" style="height: 40px;">
            <p style="margin-top: 30px; color: white;">Welcome to Turntable! We are dedicated to helping you discover new music and expand your taste. Our platform connects users to a world of music data powered by Spotify, and we aim to create a community of music lovers.</p>
    
            <section class="team-members">
                <img src="{{ url_for('static', filename='images/mtt.png') }}" alt="MeetTheTeam" class="mtt-image" style="height: 24px;">
                <div class="team">
                    <div class="team-member">
                        <img src="{{ url_for('static', filename='images/mckayImage.jpeg') }}" alt="McKayHunter" />
                        <h4>McKay Hunter</h4>
                        <p>Co-founder & Developer</p>
                    </div>
                    <div class="team-member">
                        <img src="{{ url_for('static', filename='images/rasimImage.jpg') }}" alt="RasimCrnica" />
                        <h4>Rasim Crnica</h4>
                        <p>Co-founder & Developer</p>
                    </div>
                </div>
            </section>
        </section>
    
        <!-- Right Sidebar -->
        <aside class="sidebarR" style="border-radius: 10px;">
            <!-- <h3>Right Sidebar</h3> -->
            <!-- <p>This is space is for ads.</p> -->
        </aside>
    </main>

    <footer>
        <p>&copy; 2025 Turntable. All rights reserved.</p>
        <p>Music data provided by Spotify. This application is not affiliated with or endorsed by Spotify.</p>
        <a href="https://www.spotify.com" target="_blank" style="color: white; text-decoration: underline;">Powered by Spotify®</a>
    </footer>

</body>

</html>