<!-- contact.html -->
{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block extra_head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='images/contactUs.png') }}" alt="ContactUs" class="contactUs-image" style="height: 40px;">
<p style="margin-top: 30px; color: white;">If you have any questions, feel free to get in touch with us through the form below.</p>
<p style="margin-bottom: 5px; color: white;">Or email us at <a href="mailto:turntablehelp@gmail.com" style="color: white; text-decoration: underline;">turntablehelp@gmail.com</a></p>
<div class="contact-form">
    <form action="/contact-help" method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
        <button type="submit" style="font-weight: bold;">Send Message</button>
    </form>
</div>
{% endblock %}