<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>

<body>

    <header class="gradient2">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <div>
                <div style="font-size: 32px;">Turntable</div>
                <div style="font-size: 18px; color: gray;">Expand your music taste!</div>
            </div>
            <div style="font-size: 25px;">
                <a href="#" onclick="location.href='/home'" class="nav-link" style="margin-right: 20px;">Home</a>
                <a href="#" onclick="location.href='/about'" class="nav-link" style="margin-right: 20px;">About</a>
                <a href="#" onclick="location.href='/contact'" class="nav-link" style="margin-right: 20px;">Contact</a>
            </div>
        </div>
    </header>

    <main>
        <aside class="sidebarL">
            <!-- <h3>Left Sidebar</h3> -->
            <!-- <p>This is space is for ads.</p> -->
        </aside>
        <section class="content">
            <p>Idk man we need to update this.</p>
        </section>
        <aside class="sidebarR">
            <!-- <h3>Right Sidebar</h3> -->
            <!-- <p>This is space is for ads.</p> -->
        </aside>
    </main>

    <footer>
        <p>&copy; 2025 Turntable. All rights reserved.</p>
        <p>Music data provided by Spotify. This application is not affiliated with or endorsed by Spotify.</p>
        <a href="https://www.spotify.com" target="_blank">Spotify®</a>
    </footer>

</body>

</html>