<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>

<body>

    <header class="gradient2">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
            <div>
                <div style="font-size: 32px;">Turntable</div>
                <div style="font-size: 18px; color: gray;">Expand your music taste!</div>
            </div>
            <div style="font-size: 25px;">
                <a href="#" onclick="location.href='/home'" class="nav-link" style="margin-right: 20px;">Home</a>
                <a href="#" onclick="location.href='/about'" class="nav-link" style="margin-right: 20px;">About</a>
                <a href="#" onclick="location.href='/contact'" class="nav-link" style="margin-right: 20px;">Contact</a>
            </div>
        </div>
    </header>

    <main>
        <aside class="sidebarL">
            <!-- Additional content, like links or ads -->
        </aside>
        
        <section class="content">
            <h2>Contact Us</h2>
            <p>If you have any questions, feel free to get in touch with us through the form below.</p>
            <div class="contact-form">
                <form action="/contact-help" method="POST">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </section>

        <aside class="sidebarR">
            <!-- Additional content, like social media links or ads -->
        </aside>
    </main>


    <footer>
        <p>&copy; 2025 Turntable. All rights reserved.</p>
        <p>Music data provided by Spotify. This application is not affiliated with or endorsed by Spotify.</p>
        <a href="https://www.spotify.com" target="_blank">Spotify®</a>
    </footer>

</body>

</html>