<!-- randomizer.html -->
{% extends "base.html" %}

{% block title %}Randomizer{% endblock %}

{% block extra_head %}
    <meta property="og:title" content="Turntable">
    <meta property="og:description" content="Listen Different. Explore new music.">
    <meta property="og:image" content="{{ url_for('static', filename='images/turntableIcon.png', _external=True) }}">
    <meta property="og:url" content="https://turntableshuffle.com">
    <meta property="og:type" content="website">
{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='images/randomizer.png') }}" alt="Randomizer" class="randomizer-image" style="height: 40px;">
    <p style="text-align: center; color: white; margin-top: 30px; margin-bottom: 10px;">Select your options, then hit randomize.</p>
    <p style="text-align: center; color: white; margin-top: -10px; margin-bottom: 10px;">Press the picture to be taken to Spotify.</p>
    <img src="{{ url_for('static', filename='images/options.png') }}" alt="Options" class="options-image" style="height: 24px; margin-bottom: 30px;">
    <div class="optionButtons">
        <button class="optionButton" onclick="toggleSelection(this)">Song</button>
        <button class="optionButton" onclick="toggleSelection(this)">Album</button>
        <button class="optionButton" onclick="toggleSelection(this)">Artist</button>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <select class="dropDownGenre">
            <option value="">Genre</option>
            <option value="pop">Pop</option>
            <option value="rap">Rap</option>
            <option value="rock">Rock</option>
            <option value="country">Country</option>
            <option value="indie">Indie</option>
            <option value="folk">Folk</option>
            <option value="r%26b">R&B</option>
            <option value="punk">Punk</option>
            <option value="soul">Soul</option>
            <option value="metal">Metal</option>
            <option value="hip hop">Hip-Hop</option>
            <option value="reggae">Reggae</option>
            <option value="latin">Latin</option>
            <option value="jazz">Jazz</option>
            <option value="classical">Classical</option>
        </select>
        <select class="dropDownTimePeriod">
            <option value="">Decade</option>
            <option value="1950-1959">1950s</option>
            <option value="1960-1969">1960s</option>
            <option value="1970-1979">1970s</option>
            <option value="1980-1989">1980s</option>
            <option value="1990-1999">1990s</option>
            <option value="2000-2009">2000s</option>
            <option value="2010-2019">2010s</option>
            <option value="2020-2025">2020s</option>
        </select>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <button class="randomizeButton" onclick="randomizeSelection()">Randomize</button>
    </div> 
    <div class="contentBox">
        <p>No result found. Try refreshing!</p>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}